:root {
    --primary-color: rgb(36, 36, 36);
    --accent-color: rgb(199, 199, 199);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 1em;
}
.footer {
    flex-direction: row;
}

.header > * {
    display: inline-flex;
    flex-wrap: wrap;
}
.nav {
    gap: 1em;
}

.nav a {
    color: var(--accent-color);
    text-decoration: none;
}
