:root {
    --primary-color: rgb(36, 36, 36);
    --accent-color: rgb(199, 199, 199);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 1em;
}
.header > * {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2px;
}
.footer > * {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    margin: 2px;
}
.nav {
    gap: 1em;
}

.nav a {
    color: var(--accent-color);
    text-decoration: none;
}

.hero {
    display: grid;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
}
figure,
.name,
.tag  {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.hero img{
padding: 10px;
width: min(75%,400px);
}

#about,
#contact {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    
}
#about > * {
    padding: 1rem;
    max-width: 500px;
}
#contact > * {
    padding: 1rem;

    max-width: 500px;
}
#projects {
    display: grid;
    background-color: var(--primary-color);
    color: var(--accent-color);
}
#projects > h2 {
    align-self: center;
    justify-self: center;
    padding: 1rem;
    grid-column: 1 / -1;
}
.project {
    grid-column: 1 / -1;
    max-width: 240px;
    align-self: center;
    justify-self: center;
    margin: 1rem;
    padding: 1rem;
    display : grid;
    grid-template-columns: 1fr;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--primary-color);

}

.important {
    justify-self: center;
    max-width: 500px;
}
.project-name {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    padding: 5px 10px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center;
    justify-self: center ; */
}
.project-pic {
    height: auto;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 0.3rem;
    
}


ul {
    list-style-type: none;
}


@media (min-width: 480px) {
    .header ,
    .footer {
        /* display: flex; */
        flex-direction: row;
        /* justify-content: space-between;
        align-items: center;
        color: var(--accent-color);
        background-color: var(--primary-color); */
    }
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .important {
        grid-column: 1 / -1; 
    }
    .not {
        grid-column: 2 / 3;
    }
    .project-pic {
        height: auto;
        max-width: 400px;
    }
    ul {
        display: inline-flex;
        gap: 1rem;
        justify-content: space-around;
    }
}